*{
    box-sizing: border-box;
}

html, body {
    font-family: "Unbounded", sans-serif;
    background: #1B1C24;
    color: rgba(255, 255, 255, 0.87);
    height: 100%;                  
}

body {                               /*!!!!!!!!!*/
    display: flex;
    flex-direction: column;
}

.app__main {                        /*!!!!!!!!!*/
    flex: 1 0 auto;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.container {
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
}

section {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 393px;
        margin: 0 auto;
    }
}


/*________HERO________*/

.hero {
    background-image: url('hero2.png');
    height: 666.8px;
}

.hero__first-text {
    padding-top: 30px;
    vertical-align: top;
    font-weight: 200;
    font-size: 25px;
}

.hero__title {
    font-weight: 700;
    font-size: 65px;
    padding-top: 275px;
    color: rgb(255, 255, 255);
}

.hero__second-text {
    font-weight: 600;
    font-size: 45px;
    padding-top: 197px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .hero {
        background-image: url('hero3.png');
        height: 339px;
    }

    .hero__first-text {
        padding-top: 15px;
        font-size: 15px;
    }

    .hero__title {
        font-size: 33px;
        padding-top: 135px;
    }

    .hero__second-text {
        font-size: 22px;
        padding-top: 103px;
        padding-bottom: 15px;
    }
}


/*________INFO________*/

.info__text {
    background: rgba(136, 136, 140, 0.76);
    border-radius: 50px;
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

@media (max-width: 768px) {
    .info__text {
        border-radius: 15px;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px;
    }
}


/*________PAY________*/

.pay {
    background-image: url('pay2.png');
    height: 622.51px;
    border-radius: 50px;
}

.pay__button {
    margin-top: 150px;
    margin-bottom: 199px;
    display: inline-flex;
    padding: 20px 43px;
    background-color:rgb(0, 0, 0);
    border-radius: 80px;
    box-shadow: 10px 10px 15px 3px rgba(255, 255, 255, 1),
                -10px -10px 15px 3px rgba(255, 255, 255, 1),
                -10px 10px 15px 3px rgba(255, 255, 255, 1),
                10px -10px 15px 3px rgba(255, 255, 255, 1);

    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #ffffff;
    cursor: pointer;
}

.contacts__social {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.contacts__social-link {
    margin-right: 115px;
}

.soc {
    cursor: pointer;
}

@media (max-width: 768px) {
    .pay {
        background-image: url('pay3.png');
        height: 331px;
        border-radius: 15px;
    }

    .pay__button {
        margin-top: 100px;
        margin-bottom: 111px;
        padding: 10px 23px;
        border-radius: 50px;
        font-size: 25px;
        box-shadow: 5px 5px 10px 1px rgba(255, 255, 255, 1),
                -5px -5px 10px 1px rgba(255, 255, 255, 1),
                -5px 5px 10px 1px rgba(255, 255, 255, 1),
                5px -5px 10px 1px rgba(255, 255, 255, 1);
    }

    .contacts__social {
        margin-top: 0px;
        margin-bottom: 15px;
        transform: scale(0.6); 
    }
    
    .contacts__social-link {
        margin-right: 72px;
    }
}


/*________SECOND________*/

.second__content {
    background-image: url('second2.png');
    height: 616.77px;
    border-radius: 50px;
}

.second__title {
    font-weight: 700;
    font-size: 40px;
    padding: 15px;
    color: #000000;
    background-color: #E2E2E2;
    border-radius: 50px;
    margin: 80px 30px 15px 30px;
}

.second__info {
    background-color: rgba(84, 84, 84, 0.58);
    border-radius: 50px;
    height: 616.77px;
}

.second__text {
    font-weight: 300;
    font-size: 35px;
    line-height: 36px; /*нужно для растояния между строками line-height - font-size (36-35)*/
    padding: 15px 100px;
}

@media (max-width: 768px) {
    .second__content {
        background-image: url('second3.png');
        height: 316px;
        border-radius: 50px;
    }

    .second__title {
        font-size: 25px;
        padding: 5px;
        border-radius: 15px;
        margin: 43px 15px 15px 15px;
    }

    .second__info {
        border-radius: 15px;
        height: 316px;
    }

    .second__text {
        font-size: 18px;
        line-height: 18px; /*нужно для растояния между строками line-height - font-size*/
        padding: 5px 20px;
    }
}


/*________THIRD________*/

.third__content {
    background-image: url('third2.png');
    height: 537.56px;
    border-radius: 50px;
}

.third__title {
    font-weight: 700;
    font-size: 40px;
    padding: 15px;
    color: #000000;
    background-color: #E2E2E2;
    border-radius: 50px;
    margin:  80px 30px 15px 30px;
}

.third__text {
    font-weight: 300;
    font-size: 35px;
    line-height: 42px; /*нужно для растояния между строками line-height - font-size (42-35)*/
    padding: 15px 100px;
}

@media (max-width: 768px) {
    .third__content {
        background-image: url('third3.png');
        height: 206px;
        border-radius: 15px;
    }

    .third__title {
        font-size: 25px;
        padding: 5px;
        border-radius: 15px;
        margin: 43px 15px 15px 15px;
    }

    .third__text {
        font-size: 16px;
        line-height: 17px; /*нужно для растояния между строками line-height - font-size*/
        padding: 10px 20px;
    }
}


/*________FOURTH________*/

.fourth__content {
    background-image: url('fourth2.png');
    height: 647.94px;
    border-radius: 50px;
}

.fourth__title {
    font-weight: 700;
    font-size: 40px;
    padding: 15px;
    color: #000000;
    background-color: #E2E2E2;
    border-radius: 50px;
    margin:  80px 30px 15px 30px;
}

.fourth__info {
    background-color: rgba(76, 76, 82, 0.52);
    border-radius: 50px;
    height: 647.94px;
}

.fourth__text1 {
    font-weight: 300;
    font-size: 32px;
    padding: 15px 70px 0px 70px;
}

.fourth__text2 {
    font-weight: 300;
    font-size: 32px;
    padding: 0px 70px 0px 70px;
}

.fourth__numer {
    font-weight: 300;
    font-size: 33px;
}

@media (max-width: 768px) {
    .fourth__content {
        background-image: url('fourth3.png');
        border-radius: 15px;
        height: 305px;
    }

    .fourth__title {
        font-size: 25px;
        padding: 5px;
        border-radius: 15px;
        margin: 43px 15px 15px 15px;
    } 

    .fourth__info {
        border-radius: 15px;
        height: 305px;
    }

    .fourth__text1 {
        font-size: 15px;
        padding: 10px 20px 0px 20px;
    }
    
    .fourth__text2 {
        font-size: 15px;
        padding: 0px 20px 0px 20px;
    }
    
    .fourth__numer {
        font-size: 15px;
        color: #ffffff;
        border-bottom-style: dashed;
        text-decoration: none; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    }
}

@media (max-width: 768px) {
    .footer {
        margin-top: 43px;
        margin-bottom: 23px;
    }
}
